body {
  font-family: sans-serif;
}

.h1 {
  font-size: large;
}

#boards {
  display: flex;
  gap: 40px;
  margin: auto;
}

.board,
#placement-board {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background: #d0d0d0;
  border: 1px solid #999;
}

#enemy-board div.cell {
  cursor: pointer;
}

.board div.hit {
  background: red;
  border: 1px solid red;
}

.board div.miss {
  background: white;
}

.board div.ship {
  background: rgb(18, 4, 216);
  border: 1px solid rgb(18, 4, 216);
}

#placement-board div.ship {
  cursor: grab;
}

.ship-status {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ship-row {
  display: flex;
  gap: 10px;
}

.ship-bar {
  display: flex;
  gap: 1px;
}

.mini-cell {
  width: 10px;
  height: 10px;
  background: #4e4e4e;
  border: 1px solid #000;
}

.ship-bar.sunk .mini-cell {
  background: red;
}

.board-wrapper {
  display: grid;
  grid-template-columns: 30px repeat(10, 32px);
  grid-template-rows: 30px repeat(10, 32px);
  position: relative;
}

.coord {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.coord-top {
  grid-row: 1;
}

.coord-left {
  grid-column: 1;
}