body {
  font-family: sans-serif;
}

#boards {
  display: flex;
  gap: 40px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.board div.cell {
  width: 30px;
  height: 30px;
  background: #d0d0d0;
  border: 1px solid #999;
  cursor: pointer;
}

.board div.hit {
  background: red;
}

.board div.miss {
  background: white;
}